.navbar {
  border: none !important;
}
.ui.header {
  margin-left: 4em;
}
.ui.floated.header,
.ui[class*='left floated'].header {
  float: left;
  margin-top: 0;
  margin-right: 0.5em;
  display: flex;
}
.headerTitle {
  margin-left: 778px;
  font-size: 52px;
  font-family: initial;
  margin-top: 18px;
}
.ui.container.topic {
  width: 80%;
  .ui.grid {
    .column {
      width: 25%;
      margin: auto;
      margin-top: 65px;
    }
  }
}
.ui.container.articles {
  width: 80%;
  .ui.grid {
    .five.wide.column {
      width: 30% !important;
      margin: auto;
      margin-top: 65px;
      .ui.card {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .ui.card {
    height: 525px;
  }
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px;
  }
}

.ui.card {
  width: auto;
}
.ui.card.topic {
  height: auto;
}
.ui.search .prompt {
  border: 1px solid black;
}
::placeholder {
  color: black !important;
}
.ui.dropdown:not(.button) > .default.text {
  color: black;
}
.ui.selection.dropdown {
  border: 1px solid black;
}
.ui.grid.articles {
  margin-top: 15px;
}
.ui.accordion .title:not(.ui) {
  font-size: 18px;
}
.highlight-content {
  font-size: 18px;
}
